### Import of necessary libraries

In [11]:
import pandas as pd

### Import of our dataset

In [12]:
df = pd.read_csv('data/netflix_titles.csv')

## Questions :

### 1.What is the most popular release year for netflix movies ?

In [13]:
#make sure that we have only one definition of the syntaxe Movie
show_types = df['type'].unique()
print(show_types)

#it is Movie only
movies = df[df['type']=='Movie']
#we use value_counts() that counts how many times each year appears. 
#The result is sorted by default so we take the first index that is the maximum with idxmax()

most_popular_year = movies['release_year'].value_counts().idxmax()
print ('the most popular release year for netflix movies was in', most_popular_year)

['Movie' 'TV Show']
the most popular release year for netflix movies was in 2017

### 2.1.What year netflix added the most contents to its plateforme ?

In [14]:
#we first extract the years using to_datetime then the attribute year on it

#If a value in the column cannot be converted to a datetime,
#we replace it with NaT (Not a Time) instead of raising an error with the errors='coerce' parameter
df['release_year'] = pd.to_datetime(df['date_added'], errors='coerce').dt.year

#the whole column with Nat values is upcasted to float so we will get the year .0 
#we solve thos issue by converting our result to an integer 
most_popular_release_year= df['release_year'].astype('Int64').value_counts().idxmax()



print ('netflix added the most contents to its plateforme in',most_popular_release_year )

netflix added the most contents to its plateforme in 2019

### 2.2.What year netflix added the most contents to its plateforme ?

In [15]:
#here we will just covert the hole date_added column to datetime
df['formated_date_added'] =  pd.to_datetime(df['date_added'] , errors = 'coerce')
#we will have floats as explained above as years so we convert them
df['date_added_year'] = df['formated_date_added'].dt.year.astype('Int64')
most_popular_release_year = df['date_added_year'].value_counts().idxmax()


print ('netflix added the most contents to its plateforme in',most_popular_release_year )

netflix added the most contents to its plateforme in 2019

### 3.What month netflix added the most contents to its plateforme ?

In [16]:
#same treatment as above but for the month,



#we will have floats as explained above as months so we convert them
df['date_added_month'] = df['formated_date_added'].dt.month.astype('Int64')
most_popular_release_month = df['date_added_month'].value_counts().idxmax()

#we will just try to show the name of the month rather than its number (like february instead of 2)
import calendar

month_name = calendar.month_name[most_popular_release_month]

print ('netflix added the most contents to its plateforme in the month ', month_name )

#here july makes sense because that's the beginning oh holidays of most students , 
#so people are more likely to consume content on that month!

netflix added the most contents to its plateforme in the month  July

### 4.What is the movie with the longest title ?

In [17]:
#here we already have the movies dataset from the question 1 that we will reuse

#we use .str so that we treat each value in this column as a string and apply a string function to it.
movies['title_length'] = movies['title'].str.len()

#we search for the index containing the longest title length , then we store the title so we use loc 
longest_title_movie = movies.loc[movies['title_length'].idxmax(),'title']


print ('the movie with the longest title is',longest_title_movie)

the movie with the longest title is Jim & Andy: The Great Beyond - Featuring a Very Special, Contractually Obligated Mention of Tony Clifton

C:\Users\LAPTA\AppData\Local\Temp\ipykernel_4864\2898259155.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['title_length'] = movies['title'].str.len()

### 5.Which actor/actress shows up the most ?

In [18]:
#we will first remove missing values
#now we will split the casts into a list of names
#we use str to access the string properties and operations like split when ', ' 
#then the explode property to turn lists into rows (flattening)
#we count values and search for the index of the max value (most common actor/actress)
most_common_actor = (
    df['cast']
    .dropna()
    .str.split(', ')
    .explode()
    .value_counts()
    .idxmax())


number_appearances = (
    df['cast']
    .dropna()
    .str.split(', ')
    .explode()
    .value_counts()
    .max())

print("The Actor/Actress who appears the most is", most_common_actor, "with" , number_appearances, " appearances")
print("==============================")
print ("For a list of the appearences of differents actors : ")
print ( df['cast'].dropna().str.split(', ').explode().value_counts().head(45))

The Actor/Actress who appears the most is Anupam Kher with 43  appearances
==============================
For a list of the appearences of differents actors :
cast
Anupam Kher            43
Shah Rukh Khan         35
Julie Tejwani          33
Naseeruddin Shah       32
Takahiro Sakurai       32
Rupa Bhimani           31
Akshay Kumar           30
Om Puri                30
Yuki Kaji              29
Paresh Rawal           28
Amitabh Bachchan       28
Boman Irani            27
Rajesh Kava            26
Vincent Tong           26
Andrea Libman          25
Kareena Kapoor         25
Samuel L. Jackson      24
John Cleese            24
Fred Tatasciore        23
Jigna Bhardwaj         23
Tara Strong            23
Daisuke Ono            22
Ajay Devgn             21
Nawazuddin Siddiqui    21
Ashleigh Ball          21
Kay Kay Menon          21
Junichi Suwabe         21
Nicolas Cage           21
Adam Sandler           20
Salman Khan            20
David Attenborough     20
Yuichi Nakamura        19
Morgan Freeman         19
Seth Rogen             19
Fred Armisen           19
Gulshan Grover         19
Ai Kayano              19
James Franco           19
David Spade            19
Erin Fitzgerald        19
Mamoru Miyano          19
Kana Hanazawa          18
Anil Kapoor            18
Vatsal Dubey           18
Debi Derryberry        18
Name: count, dtype: int64